# Dependencies
node_modules
package-lock.json

# Build
build
.cache
.tmp

# Environment
.env
.env.*
!.env.example
*.prod.*
*.prod

# Logs
logs
*.log
npm-debug.log*

# Database
backups/

# OS
.DS_Store
Thumbs.db

# IDE
.idea
.vscode
*.swp
*.swo